@import './resets'
@import './utilities'
@import './login'
@import './navbar'
@import './earnings'
@import './orders'
@import './order-view-navbar'
@import './order-view-content'

body, html
    background-color: $white
    max-width: 100%
    min-width: 380px
    overflow-x: clip
    font-family: 'Rubik', sans-serif
    scroll-behavior: smooth

main
    @include flexColumn
    align-items: center

.loader-container
    @include flexColumn
    @include allCentered
